body{

    background-color: #f350d0;
    
    }
    
    p{
    
        color: rgb(168, 0, 103);
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 25px;
    }
    .input-group{
        margin-bottom: 10px;
    }
    #Areadelcirculo{
        color: rgb(43, 134, 226);
    }