body{

    background-color: #ee9fdd;
    
    }
    
    p{
    
        color: rgb(168, 0, 103);
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 25px;
    }
    .input-group{
        margin-bottom: 10px;
    }
    #Areadelrectangulo{
        color: blueviolet;
    }